.header {
    background-color: #FFF9F4;
}

.buy-now-btn {
    background-color: #3D4FF3 !important;

}

.span1 {
    color: #FA804C;
}

.span2 {
    color: #363958;
}

.footer {
    height: 200px;
}

@media screen and (max-width:767px) {
    .banner-items {
        width: 100% !important;
        padding: 10px;
    }

    .benefits-items {
        width: 100% !important;
    }
}